<html>
<body>
<h1>What's Up UCSD?</h1>
</body>
<body>
  <ul>
    <li><a href="./index"> Home </html></li>
    <li><a href="./settings"> Settings </html></li>
    <li><a href="./login"> Login </html></li>
    <li><a href="./subpage1"> Parking </html></li>
    <li><a href="./subpage2"> Overcrowding </html></li>

  </ul>
</body>
</html>