<!doctype html>
<html>
	<head>
		<title>What's Up UCSD?</title>	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script src="/js/jquery-1.11.0.js"></script>
		<script src="/js/bootstrap.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="/css/bubbles.css">
	</head>
<body>
	<div class="container-fluid" align="center">
		<form action="/newtopic" method="post">
			<h3>What's bothering you?</h3>
			<br>  <input class = "well well-sm" type="text" id="problem" name="problem" size="55"><br>
	    	<h5>Wanna elaborate on that?</h5> <br>
	    	<textarea class = "well well-lg" cols="50" rows="4" name="description"></textarea>
	    	<br>
	    	<input type="hidden" name="URL" id="path">
	    	<input type="submit" value="Submit">
		</form>
		 <div class="button-bar">
			<div class="button-col">
				<a href="{{prevTopicPath}}">
					<div class="bubble-button">
						<span class="glyphicon glyphicon-arrow-left"></span>
					</div>
				</a>
			</div>
			<div class="button-col">
				<a href="/">
					<div class="bubble-button">
						<span class="glyphicon glyphicon-home"></span>
					</div>
				</a>
			</div>
			<div class="button-col">
				<a href="/login">
					<div class="bubble-button">
						<span class="glyphicon glyphicon-user"></span>
					</div>
				</a>
			</div>
			<div class="button-col">
				<a href="{{currTopicPath}}newtopic">
					<div class="bubble-button">
						<span class="glyphicon glyphicon-plus"></span>
					</div>
				</a>
			</div>
		</div>
    </div>
</body>

<script> 
	var URL = window.location.pathname;
	$("#path").val(URL);
</script>
</html>