<html>
<body>
<h1>Parking</h1>
</body>
<body>
	<ul>
		<li><a href="./index"> Home </html></li>
		<li><a href="./settings"> Settings </html></li>
		<li><a href="./login"> Login </html></li>
	</ul>
</body>
</html>