<!doctype html>
<html>
	<head>
		<title>What's Up UCSD?</title>	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="/js/bubbles.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="css/bubbles.css">
	</head>
	<body>
		<div class="container-fluid" align="center">
			<h1>Hey! What's up?</h1>
            <br>
			 <p>Thanks for joining us! Below is a quick tutorial of how our app works. Feel free to read up and learn about us! </p>
			 <p>In our app you'll see bubbles, which are represented by circles that look like this: <br>
			 	<img src="../images/bubble.jpeg" alt="UCSD Bubble" style="width:300px;height:300px;"><br>
			  These are the current topics that are available for you to view. If you click on it, you can see more details about<br> 
			  it and choose a certain topic to discuss or<br>
			    contribute to!</p>
			    <p>If you want to create a new topic in a bubble, press the "+" sign on the bottom right!<br>
			 		<img src="../images/plus.jpeg" alt="plus" style="width:150px;height:150px;"><br>
				</p>
				<h2>Icon Descriptions:</h2>
				<h2><span class="glyphicon glyphicon-check"></span> </h2> <br>
				Clicking this button means you are contributing to the cause. The bubble will grow to represent how big this <br>
				issue is.<br>
				<h2><span class="glyphicon glyphicon-thumbs-up"></span></h2><br>
				Clicking this button is essentially the same as the Facebook "like" button. This shows that you think this is <br>
				a good topic, but you do not agree with it enough to sign up and contribute to the cause.
				<h2><span class="glyphicon glyphicon-thumbs-down"></span></h2><br>
				Clicking this button is the opposite of the thumbs down button. This shows that you dislike this topic. <br>
				<h2><span class="glyphicon glyphicon-remove-circle"></span></h2><br>
				Clicking this button is essentially like flagging the post as spam. It will shrink the bubble and eventually <br>
				render it as an irrelevant topic. <br>
			    Those are the emoticons where you can "react" to the topic. If the overall count of the "check" and "x" equal to <br>
			    ten thousand, then the topic gets sent to the relevant administrators so they can hear your opinion! Think of it<br>
			    like a petition! That's basically it! So go on and get started!!</p>
            <a href="/" class="btn btn-primary btn-md">Let's get started! </a>
            <br><br><br>
		</div>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-87733163-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</body>
</html>
				