<!doctype html>
<html>
	<head>
		<title>What's Up UCSD?</title>	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="/js/bubbles.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="css/bubbles.css">
	</head>
	<body>
		<div class="container-fluid" align="center">
			<h1>Hey! What's up?</h1>
            <br>
			 <p>Thanks for joining us! Below is a quick tutorial of how our app works. Feel free to read up and learn about us! </p>
			 <p>In our app you'll see bubbles, which are represented by circles that look like this: <br>
			 	<img src="../images/bubble.jpeg" alt="UCSD Bubble" style="width:300px;height:300px;"><br>
			  These are the current topics that are available for you to view. If you click on it, you can see more details about<br> 
			  it and choose a certain topic to discuss or<br>
			    contribute to!</p>
			    <p>If you want to create a new topic in a bubble, press the "+" sign on the bottom right!<br>
			 		<img src="../images/plus.jpeg" alt="plus" style="width:150px;height:150px;"><br>
				</p>
			    <p>Also, there are five buttons you can click on each bubble: <br>
					<h2>
								<span class="glyphicon glyphicon-plus"></span>
								<span class="glyphicon glyphicon-thumbs-up"></span>
								<span class="glyphicon glyphicon-thumbs-down"></span>
								<span class="glyphicon glyphicon-remove-circle"></span>
								<span class="glyphicon glyphicon-heart-empty"></span>
					</h2>
			    Those are the emoticons where you can "react" to the topic. If the overall count of the "plus" and "x" equal to <br>
			    ten thousand, then the topic gets sent to the relevant administrators so they can hear your opinion! Think of it<br>
			    like a petition! That's basically it! So go on and get started!!</p>
            <a href="/" class="btn btn-primary btn-md">Let's get started! </a>
		</div>
	</body>
</html>
				